In [ ]:
cd C:\Users\SOJIN JO\Desktop\Project2\엔지니어링_도쿄

ssh -i "de-c4(tokyo).pem" ubuntu@52.197.177.14

In [ ]:
<pyspark 들어가기>

hdfs dfs -put project /user/engineer/

hdfs dfs -ls data

hdfs dfs -ls data/sojin_file

In [ ]:
**IMPORT

from pyspark.sql.functions import col

from pyspark.sql.functions import *

In [ ]:
single_house=spark.read.format("csv").option("header","true").option("encoding","utf8").load("data/sojin_file/서울시_1인가구_여자_연령별.csv")

single_house=spark.read.format("csv").option("header","true").option("encoding","utf8").load("project/서울시_1인가구_여자_연령별.csv")

In [ ]:
single_house1 = single_house.drop(single_house._c0)

In [ ]:
single_house2=single_house1.where(col("성별") == "여자")

In [ ]:
single_house2 = single_house1.select("*",col(구분).alias("지역구"))

In [ ]:
spark.sql("SELECT * FROM single_house1 WHERE (col("성별")=='여자'")

In [ ]:
single_house3=single_house2.withColumnRenamed("구분","지역구")

In [ ]:
retails.select(col("InvoiceNo").alias("a"),"*").drop(retails.InvoiceNo).show()

In [ ]:
single_house4 = single_house3.drop(single_house.성별)

In [ ]:
single_house5=single_house4.orderBy(col("기간"), col("합계").desc())

single_house6 = single_house5.filter(col('지역구')!='합계')

In [ ]:
single_house6.coalesce(1).write.format("csv").option("header","true").mode("overwrite").save("/project/전처리_여자1인가구_연도별.csv")

single_house6=spark.read.format("csv").option("header","true").option("encoding","utf8").load("/project/전처리_여자1인가구_연도별.csv")