In [2]:
import pandas as pd
from pandas import DataFrame
#df를 csv로 저장하기 위해 모율 임포트

In [9]:
df = pd.read_csv("프젝_2_건축물대장.csv",encoding="euc-kr")

In [12]:
df  = df.drop(["건물명","연면적","건축면적"],axis=1)

In [15]:
df = df.reset_index(drop="true")

In [16]:
df

        Unnamed: 0 대장종류        주용도                   건물위치
0                0   집합       공동주택   서울특별시 양천구 목동 499-2번지
1                1   집합       공동주택  서울특별시 양천구 목동 499-11번지
2                2   일반       단독주택  서울특별시 양천구 목동 499-20번지
3                3   일반       단독주택  서울특별시 양천구 목동 499-29번지
4                4   일반       단독주택  서울특별시 양천구 목동 499-36번지
...            ...  ...        ...                    ...
611903      611903   일반       단독주택  서울특별시 강동구 천호동 200-7번지
611904      611904   일반       단독주택  서울특별시 강동구 천호동 200-8번지
611905      611905   일반       단독주택  서울특별시 강동구 천호동 201-4번지
611906      611906   일반  제1종근린생활시설  서울특별시 강동구 천호동 201-6번지
611907      611907   일반       단독주택  서울특별시 강동구 천호동 201-8번지

[611908 rows x 4 columns]

In [17]:
# del df["Unnamed: 0"]

In [19]:
# del df["대장종류"]

In [30]:
type = df.주용도.value_counts().keys()

In [31]:
type

Index(['단독주택', '공동주택', '제1종근린생활시설', '제2종근린생활시설', '업무시설', '교육연구시설', '노유자시설',
       '종교시설', '공장', '숙박시설', '자동차관련시설', '창고시설', '판매시설', '근린생활시설', '문화및집회시설',
       '의료시설', '위험물저장및처리시설', '운동시설', '교육연구및복지시설', '운수시설', '위락시설', '동.식물관련시설',
       '분뇨.쓰레기처리시설', '관광휴게시설', '방송통신시설', '교정및군사시설', '수련시설', '판매및영업시설',
       '묘지관련시설', '자원순환관련시설', '공공용시설', '발전시설', '장례시설', '야영장시설'],
      dtype='object')

### 주용도가 주거인 경우 '주거' 근린생활시설인 경우 '상가' 업무시설인 경우 사무실로 표시

In [ ]:
df.info()

In [66]:
df.주용도 = df.주용도.astype('str')

In [84]:
#계속 오류가 발생해서 df.info()로 테이터 타입을 확인한 후 문자열로 교체하여 진행함
df["용도"] = ["주거" if "주택" in i else("상가" if "근린" in i else("사무" if "업무" in i else "기타")) for i in df.주용도]

In [85]:
pd.set_option('display.max_row', 100)

In [86]:
df["용도"].value_counts()

주거    453870
상가    120308
기타     28861
사무      8869
Name: 용도, dtype: int64

In [87]:
df

              주용도                   건물위치  용도
0            공동주택   서울특별시 양천구 목동 499-2번지  주거
1            공동주택  서울특별시 양천구 목동 499-11번지  주거
2            단독주택  서울특별시 양천구 목동 499-20번지  주거
3            단독주택  서울특별시 양천구 목동 499-29번지  주거
4            단독주택  서울특별시 양천구 목동 499-36번지  주거
...           ...                    ...  ..
611903       단독주택  서울특별시 강동구 천호동 200-7번지  주거
611904       단독주택  서울특별시 강동구 천호동 200-8번지  주거
611905       단독주택  서울특별시 강동구 천호동 201-4번지  주거
611906  제1종근린생활시설  서울특별시 강동구 천호동 201-6번지  상가
611907       단독주택  서울특별시 강동구 천호동 201-8번지  주거

[611908 rows x 3 columns]

In [82]:
from pandas import DataFrame
#df를 csv로 저장하기 위해 모율 임포트

In [88]:
df.to_csv('building_type.csv', sep=',', na_rep='NaN')