In [1]:
import pandas as pd
import numpy as np

In [2]:
# df = pd.read_csv('tidy_2.csv')

In [3]:
# pd.read_csv('파일경로 + 파일명.csv')
# pd.read_excel('파일경로 + 파일명.xlsx')

In [4]:
# 서울시 구별 외국인 비율
df=pd.read_csv('Report.csv',encoding='utf-8')
           
df

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017,합계,"4,220,082","10,124,579","4,957,857","5,166,722","9,857,426","4,830,206","5,027,220","267,153","127,651","139,502",2.34,"1,365,126"
3,2017,종로구,"73,594","164,257","80,094","84,163","154,770","75,967","78,803","9,487","4,127","5,360",2.1,"26,182"
4,2017,중구,"60,412","134,593","66,337","68,256","125,709","62,253","63,456","8,884","4,084","4,800",2.08,"21,384"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,2020,관악구,"274,811","509,803","255,211","254,592","495,060","248,339","246,721","14,743","6,872","7,871",1.8,"78,875"
102,2020,서초구,"173,502","429,025","205,282","223,743","425,126","203,359","221,767","3,899","1,923","1,976",2.45,"60,169"
103,2020,강남구,"234,872","544,055","260,378","283,677","539,231","257,999","281,232","4,824","2,379","2,445",2.3,"75,096"
104,2020,송파구,"281,959","673,926","325,080","348,846","667,960","322,299","345,661","5,966","2,781","3,185",2.37,"93,483"
105,2020,강동구,"196,499","463,998","228,044","235,954","459,970","226,216","233,754","4,028","1,828","2,200",2.34,"70,019"

In [5]:
# 'col1', 'col2' 열 삭제
# df = df.drop(columns=['col1', 'col2'], axis=1)
df=df.drop(columns=['세대', '인구.1',"인구.2","인구.3","인구.4","인구.5","세대당인구","65세이상고령자"], axis=1)
df

       기간  자치구          인구     인구.6     인구.7     인구.8
0      기간  자치구          합계    등록외국인    등록외국인    등록외국인
1      기간  자치구           계        계       남자       여자
2    2017   합계  10,124,579  267,153  127,651  139,502
3    2017  종로구     164,257    9,487    4,127    5,360
4    2017   중구     134,593    8,884    4,084    4,800
..    ...  ...         ...      ...      ...      ...
101  2020  관악구     509,803   14,743    6,872    7,871
102  2020  서초구     429,025    3,899    1,923    1,976
103  2020  강남구     544,055    4,824    2,379    2,445
104  2020  송파구     673,926    5,966    2,781    3,185
105  2020  강동구     463,998    4,028    1,828    2,200

[106 rows x 6 columns]

In [6]:
# 컬럼명 변경
df.columns=['년도','지역구','전체인구','등록_외국인','남자_외국인','여자_외국인']

In [7]:
df

       년도  지역구        전체인구   등록_외국인   남자_외국인   여자_외국인
0      기간  자치구          합계    등록외국인    등록외국인    등록외국인
1      기간  자치구           계        계       남자       여자
2    2017   합계  10,124,579  267,153  127,651  139,502
3    2017  종로구     164,257    9,487    4,127    5,360
4    2017   중구     134,593    8,884    4,084    4,800
..    ...  ...         ...      ...      ...      ...
101  2020  관악구     509,803   14,743    6,872    7,871
102  2020  서초구     429,025    3,899    1,923    1,976
103  2020  강남구     544,055    4,824    2,379    2,445
104  2020  송파구     673,926    5,966    2,781    3,185
105  2020  강동구     463,998    4,028    1,828    2,200

[106 rows x 6 columns]

In [8]:
df=df.drop(columns=['남자_외국인','여자_외국인'], axis=1)

In [9]:
df

       년도  지역구        전체인구   등록_외국인
0      기간  자치구          합계    등록외국인
1      기간  자치구           계        계
2    2017   합계  10,124,579  267,153
3    2017  종로구     164,257    9,487
4    2017   중구     134,593    8,884
..    ...  ...         ...      ...
101  2020  관악구     509,803   14,743
102  2020  서초구     429,025    3,899
103  2020  강남구     544,055    4,824
104  2020  송파구     673,926    5,966
105  2020  강동구     463,998    4,028

[106 rows x 4 columns]

In [10]:
#null 값 확인
df.isnull().sum()

년도        0
지역구       0
전체인구      0
등록_외국인    0
dtype: int64

In [11]:
# 인덱스 삭제
df_index=df.drop([0,1])

In [12]:
df_index

       년도  지역구        전체인구   등록_외국인
2    2017   합계  10,124,579  267,153
3    2017  종로구     164,257    9,487
4    2017   중구     134,593    8,884
5    2017  용산구     244,444   15,283
6    2017  성동구     312,711    7,903
..    ...  ...         ...      ...
101  2020  관악구     509,803   14,743
102  2020  서초구     429,025    3,899
103  2020  강남구     544,055    4,824
104  2020  송파구     673,926    5,966
105  2020  강동구     463,998    4,028

[104 rows x 4 columns]

In [13]:
#  멀티 인덱싱  
df_end=df_index.set_index(["년도","지역구"],inplace=False)

In [14]:
df_end

                전체인구   등록_외국인
년도   지역구
2017 합계   10,124,579  267,153
     종로구     164,257    9,487
     중구      134,593    8,884
     용산구     244,444   15,283
     성동구     312,711    7,903
...              ...      ...
2020 관악구     509,803   14,743
     서초구     429,025    3,899
     강남구     544,055    4,824
     송파구     673,926    5,966
     강동구     463,998    4,028

[104 rows x 2 columns]

In [15]:
df_end.to_csv('df_end.csv')

In [16]:
# 남녀성비 누계

df1=pd.read_csv('남녀성비_시도_시_군_구__20210913140333_분석(누계).csv',encoding='utf-8')

In [17]:
df1

,행정구역별(1),행정구역별(2),2017,2017.1,2017.2,2017.3,2017.4,2017.5,2018,2018.1,...,2019.2,2019.3,2019.4,2019.5,2020,2020.1,2020.2,2020.3,2020.4,2020.5
0,행정구역별(1),행정구역별(2),남녀성비<br>(A÷B×100),남녀성비<br>(A÷B×100),남자인구수<br>(A),남자인구수<br>(A),여자인구수<br>(B),여자인구수<br>(B),남녀성비<br>(A÷B×100),남녀성비<br>(A÷B×100),...,남자인구수<br>(A),남자인구수<br>(A),여자인구수<br>(B),여자인구수<br>(B),남녀성비<br>(A÷B×100),남녀성비<br>(A÷B×100),남자인구수<br>(A),남자인구수<br>(A),여자인구수<br>(B),여자인구수<br>(B)
1,행정구역별(1),행정구역별(2),원데이터,누계,원데이터,누계,원데이터,누계,원데이터,누계,...,원데이터,누계,원데이터,누계,원데이터,누계,원데이터,누계,원데이터,누계
2,서울특별시,소계,96.1,96.1,"4,830,206","4,830,206","5,027,220","5,027,220",95.6,95.6,...,"4,744,059","4,744,059","4,985,048","4,985,048",94.7,94.7,"4,701,723","4,701,723","4,966,742","4,966,742"
3,NaN,종로구,96.4,96.4,"75,967","75,967","78,803","78,803",95.6,95.6,...,"73,746","73,746","77,544","77,544",94.6,94.6,"72,635","72,635","76,749","76,749"
4,NaN,중구,98.1,98.1,"62,253","62,253","63,456","63,456",97.1,97.1,...,"61,910","61,910","64,261","64,261",95.6,95.6,"61,222","61,222","64,018","64,018"
5,NaN,용산구,93.7,93.7,"110,878","110,878","118,283","118,283",93.5,93.5,...,"110,356","110,356","118,314","118,314",92.8,92.8,"110,722","110,722","119,318","119,318"
6,NaN,성동구,97.4,97.4,"150,368","150,368","154,440","154,440",96.5,96.5,...,"147,273","147,273","153,616","153,616",95.5,95.5,"143,387","143,387","150,169","150,169"
7,NaN,광진구,95.2,95.2,"174,414","174,414","183,289","183,289",94.5,94.5,...,"170,262","170,262","181,088","181,088",93.3,93.3,"167,310","167,310","179,372","179,372"
8,NaN,동대문구,100,100,"175,324","175,324","175,323","175,323",99.5,99.5,...,"172,113","172,113","174,081","174,081",98.1,98.1,"169,769","169,769","173,068","173,068"
9,NaN,중랑구,99.2,99.2,"203,325","203,325","204,901","204,901",98.8,98.8,...,"196,959","196,959","200,056","200,056",97.8,97.8,"195,165","195,165","199,537","199,537"
10,NaN,성북구,95.2,95.2,"216,556","216,556","227,499","227,499",94.6,94.6,...,"214,437","214,437","228,213","228,213",93.1,93.1,"210,810","210,810","226,343","226,343"
11,NaN,강북구,96,96,"158,918","158,918","165,561","165,561",95.7,95.7,...,"153,235","153,235","160,719","160,719",95.1,95.1,"150,143","150,143","157,912","157,912"
12,NaN,도봉구,96.2,96.2,"168,759","168,759","175,407","175,407",95.9,95.9,...,"163,051","163,051","170,311","170,311",95.2,95.2,"158,620","158,620","166,637","166,637"
13,NaN,노원구,94.6,94.6,"269,508","269,508","284,895","284,895",94.3,94.3,...,"257,923","257,923","274,982","274,982",93.2,93.2,"252,383","252,383","270,654","270,654"
14,NaN,은평구,94.4,94.4,"236,353","236,353","250,441","250,441",93.7,93.7,...,"231,528","231,528","248,504","248,504",92.3,92.3,"230,279","230,279","249,556","249,556"
15,NaN,서대문구,93.5,93.5,"151,144","151,144","161,656","161,656",93,93,...,"148,663","148,663","160,734","160,734",91.7,91.7,"149,360","149,360","162,813","162,813"
16,NaN,마포구,91.3,91.3,"178,939","178,939","195,976","195,976",90.6,90.6,...,"176,891","176,891","197,144","197,144",89,89,"175,150","175,150","196,740","196,740"
17,NaN,양천구,97.4,97.4,"232,518","232,518","238,636","238,636",97.1,97.1,...,"225,186","225,186","232,979","232,979",96.3,96.3,"222,824","222,824","231,427","231,427"
18,NaN,강서구,94.9,94.9,"292,989","292,989","308,702","308,702",94.5,94.5,...,"286,563","286,563","305,233","305,233",93.3,93.3,"280,034","280,034","300,151","300,151"
19,NaN,구로구,98.7,98.7,"204,003","204,003","206,739","206,739",98.2,98.2,...,"200,987","200,987","205,677","205,677",97.5,97.5,"199,673","199,673","204,735","204,735"
20,NaN,금천구,103.3,103.3,"119,497","119,497","115,657","115,657",103.4,103.4,...,"118,209","118,209","114,601","114,601",102.4,102.4,"117,226","117,226","114,507","114,507"
21,NaN,영등포구,99.7,99.7,"183,975","183,975","184,575","184,575",99.3,99.3,...,"182,438","182,438","185,240","185,240",97.8,97.8,"187,647","187,647","191,833","191,833"
22,NaN,동작구,95.2,95.2,"193,255","193,255","202,962","202,962",94.5,94.5,...,"191,976","191,976","203,987","203,987",93.6,93.6,"189,152","189,152","202,068","202,068"
23,NaN,관악구,101.6,101.6,"253,661","253,661","249,636","249,636",100.9,100.9,...,"251,009","251,009","249,085","249,085",100.7,100.7,"248,339","248,339","246,721","246,721"
24,NaN,서초구,91.9,91.9,"211,236","211,236","229,866","229,866",91.9,91.9,...,"206,039","206,039","224,787","224,787",91.7,91.7,"203,359","203,359","221,767","221,767"
25,NaN,강남구,92,92,"266,442","266,442","289,722","289,722",91.8,91.8,...,"260,806","260,806","284,363","284,363",91.7,91.7,"257,999","257,999","281,232","281,232"
26,NaN,송파구,94.7,94.7,"323,147","323,147","341,349","341,349",94.3,94.3,...,"327,164","327,164","348,797","348,797",93.2,93.2,"322,299","322,299","345,661","345,661"
27,NaN,강동구,98.8,98.8,"216,777","216,777","219,446","219,446",98.2,98.2,...,"215,335","215,335","220,732","220,732",96.8,96.8,"226,216","226,216","233,754","233,754"

In [18]:
df2=pd.read_csv('남녀성비_시도_시_군_구__20210913140322_분석(전년_대비_증감률).csv',encoding='utf-8')

In [19]:
df2

,행정구역별(1),행정구역별(2),2017,2017.1,2017.2,2017.3,2017.4,2017.5,2018,2018.1,...,2019.2,2019.3,2019.4,2019.5,2020,2020.1,2020.2,2020.3,2020.4,2020.5
0,행정구역별(1),행정구역별(2),남녀성비<br>(A÷B×100),남녀성비<br>(A÷B×100),남자인구수<br>(A),남자인구수<br>(A),여자인구수<br>(B),여자인구수<br>(B),남녀성비<br>(A÷B×100),남녀성비<br>(A÷B×100),...,남자인구수<br>(A),남자인구수<br>(A),여자인구수<br>(B),여자인구수<br>(B),남녀성비<br>(A÷B×100),남녀성비<br>(A÷B×100),남자인구수<br>(A),남자인구수<br>(A),여자인구수<br>(B),여자인구수<br>(B)
1,행정구역별(1),행정구역별(2),원데이터,전년 대비 증감률,원데이터,전년 대비 증감률,원데이터,전년 대비 증감률,원데이터,전년 대비 증감률,...,원데이터,전년 대비 증감률,원데이터,전년 대비 증감률,원데이터,전년 대비 증감률,원데이터,전년 대비 증감률,원데이터,전년 대비 증감률
2,서울특별시,소계,96.1,-0.4,"4,830,206",-1.0,"5,027,220",-0.5,95.6,-0.5,...,"4,744,059",-0.6,"4,985,048",-0.1,94.7,-0.5,"4,701,723",-0.9,"4,966,742",-0.4
3,NaN,종로구,96.4,-0.6,"75,967",1.0,"78,803",1.6,95.6,-0.8,...,"73,746",-1.4,"77,544",-0.9,94.6,-0.5,"72,635",-1.5,"76,749",-1.0
4,NaN,중구,98.1,-0.6,"62,253",0.1,"63,456",0.7,97.1,-1.0,...,"61,910",-0.1,"64,261",0.8,95.6,-0.7,"61,222",-1.1,"64,018",-0.4
5,NaN,용산구,93.7,-0.4,"110,878",-0.6,"118,283",-0.3,93.5,-0.2,...,"110,356",-0.3,"118,314",0.0,92.8,-0.5,"110,722",0.3,"119,318",0.8
6,NaN,성동구,97.4,-0.9,"150,368",1.4,"154,440",2.3,96.5,-0.9,...,"147,273",-2.7,"153,616",-2.1,95.5,-0.4,"143,387",-2.6,"150,169",-2.2
7,NaN,광진구,95.2,-0.6,"174,414",-0.2,"183,289",0.5,94.5,-0.7,...,"170,262",-1.5,"181,088",-0.9,93.3,-0.7,"167,310",-1.7,"179,372",-0.9
8,NaN,동대문구,100.0,-0.1,"175,324",-1.3,"175,323",-1.2,99.5,-0.5,...,"172,113",-0.8,"174,081",-0.2,98.1,-0.8,"169,769",-1.4,"173,068",-0.6
9,NaN,중랑구,99.2,-0.2,"203,325",-0.8,"204,901",-0.6,98.8,-0.4,...,"196,959",-1.7,"200,056",-1.3,97.8,-0.7,"195,165",-0.9,"199,537",-0.3
10,NaN,성북구,95.2,-0.3,"216,556",-1.5,"227,499",-1.3,94.6,-0.6,...,"214,437",1.2,"228,213",1.9,93.1,-1.0,"210,810",-1.7,"226,343",-0.8
11,NaN,강북구,96.0,-0.7,"158,918",-1.2,"165,561",-0.5,95.7,-0.3,...,"153,235",-1.8,"160,719",-1.5,95.1,-0.2,"150,143",-2.0,"157,912",-1.7
12,NaN,도봉구,96.2,-0.6,"168,759",-1.4,"175,407",-0.9,95.9,-0.3,...,"163,051",-1.9,"170,311",-1.7,95.2,-0.5,"158,620",-2.7,"166,637",-2.2
13,NaN,노원구,94.6,-0.3,"269,508",-2.5,"284,895",-2.2,94.3,-0.3,...,"257,923",-2.3,"274,982",-1.7,93.2,-0.6,"252,383",-2.1,"270,654",-1.6
14,NaN,은평구,94.4,-0.4,"236,353",-1.2,"250,441",-0.7,93.7,-0.7,...,"231,528",-0.9,"248,504",-0.4,92.3,-1.0,"230,279",-0.5,"249,556",0.4
15,NaN,서대문구,93.5,-0.8,"151,144",-0.9,"161,656",0.0,93.0,-0.5,...,"148,663",-0.6,"160,734",0.0,91.7,-0.9,"149,360",0.5,"162,813",1.3
16,NaN,마포구,91.3,-0.9,"178,939",-1.8,"195,976",-0.9,90.6,-0.8,...,"176,891",-0.8,"197,144",0.2,89.0,-0.8,"175,150",-1.0,"196,740",-0.2
17,NaN,양천구,97.4,-0.5,"232,518",-1.6,"238,636",-1.2,97.1,-0.3,...,"225,186",-1.5,"232,979",-1.1,96.3,-0.4,"222,824",-1.0,"231,427",-0.7
18,NaN,강서구,94.9,-0.3,"292,989",0.9,"308,702",1.2,94.5,-0.4,...,"286,563",-1.2,"305,233",-0.5,93.3,-0.6,"280,034",-2.3,"300,151",-1.7
19,NaN,구로구,98.7,-0.2,"204,003",-1.8,"206,739",-1.5,98.2,-0.5,...,"200,987",0.3,"205,677",0.8,97.5,-0.2,"199,673",-0.7,"204,735",-0.5
20,NaN,금천구,103.3,-0.5,"119,497",-0.3,"115,657",0.1,103.4,0.1,...,"118,209",-0.6,"114,601",-0.3,102.4,-0.7,"117,226",-0.8,"114,507",-0.1
21,NaN,영등포구,99.7,-0.2,"183,975",-0.7,"184,575",-0.5,99.3,-0.4,...,"182,438",-0.4,"185,240",0.4,97.8,-0.7,"187,647",2.9,"191,833",3.6
22,NaN,동작구,95.2,-0.7,"193,255",-1.5,"202,962",-0.9,94.5,-0.7,...,"191,976",-0.3,"203,987",0.2,93.6,-0.5,"189,152",-1.5,"202,068",-0.9
23,NaN,관악구,101.6,-0.6,"253,661",-1.0,"249,636",-0.4,100.9,-0.7,...,"251,009",-0.5,"249,085",-0.3,100.7,-0.1,"248,339",-1.1,"246,721",-0.9
24,NaN,서초구,91.9,-0.4,"211,236",-1.6,"229,866",-1.1,91.9,0.0,...,"206,039",-0.9,"224,787",-0.6,91.7,0.0,"203,359",-1.3,"221,767",-1.3
25,NaN,강남구,92.0,0.1,"266,442",-1.9,"289,722",-2.0,91.8,-0.2,...,"260,806",0.5,"284,363",0.6,91.7,0.0,"257,999",-1.1,"281,232",-1.1
26,NaN,송파구,94.7,-0.3,"323,147",0.8,"341,349",1.2,94.3,-0.4,...,"327,164",1.1,"348,797",1.7,93.2,-0.6,"322,299",-1.5,"345,661",-0.9
27,NaN,강동구,98.8,-0.3,"216,777",-2.0,"219,446",-1.6,98.2,-0.6,...,"215,335",1.7,"220,732",2.3,96.8,-0.8,"226,216",5.1,"233,754",5.9

In [20]:
df3=pd.read_csv('남녀성비_시도_시_군_구__20210913140308_분석(전년_대비_증감).csv',encoding='utf-8')

In [21]:
df3

,행정구역별(1),행정구역별(2),2017,2017.1,2017.2,2017.3,2017.4,2017.5,2018,2018.1,...,2019.2,2019.3,2019.4,2019.5,2020,2020.1,2020.2,2020.3,2020.4,2020.5
0,행정구역별(1),행정구역별(2),남녀성비<br>(A÷B×100),남녀성비<br>(A÷B×100),남자인구수<br>(A),남자인구수<br>(A),여자인구수<br>(B),여자인구수<br>(B),남녀성비<br>(A÷B×100),남녀성비<br>(A÷B×100),...,남자인구수<br>(A),남자인구수<br>(A),여자인구수<br>(B),여자인구수<br>(B),남녀성비<br>(A÷B×100),남녀성비<br>(A÷B×100),남자인구수<br>(A),남자인구수<br>(A),여자인구수<br>(B),여자인구수<br>(B)
1,행정구역별(1),행정구역별(2),원데이터,전년 대비 증감,원데이터,전년 대비 증감,원데이터,전년 대비 증감,원데이터,전년 대비 증감,...,원데이터,전년 대비 증감,원데이터,전년 대비 증감,원데이터,전년 대비 증감,원데이터,전년 대비 증감,원데이터,전년 대비 증감
2,서울특별시,소계,96.1,-0.4,4830206,-46583,5027220,-26607,95.6,-0.5,...,4744059,-29840,4985048,-6676,94.7,-0.5,4701723,-42336,4966742,-18306
3,서울특별시,종로구,96.4,-0.6,75967,766,78803,1267,95.6,-0.8,...,73746,-1079,77544,-696,94.6,-0.5,72635,-1111,76749,-795
4,서울특별시,중구,98.1,-0.6,62253,49,63456,411,97.1,-1,...,61910,-37,64261,483,95.6,-0.7,61222,-688,64018,-243
5,서울특별시,용산구,93.7,-0.4,110878,-723,118283,-357,93.5,-0.2,...,110356,-284,118314,-45,92.8,-0.5,110722,366,119318,1004
6,서울특별시,성동구,97.4,-0.9,150368,2042,154440,3507,96.5,-0.9,...,147273,-4086,153616,-3246,95.5,-0.4,143387,-3886,150169,-3447
7,서울특별시,광진구,95.2,-0.6,174414,-383,183289,871,94.5,-0.7,...,170262,-2532,181088,-1677,93.3,-0.7,167310,-2952,179372,-1716
8,서울특별시,동대문구,100,-0.1,175324,-2316,175323,-2106,99.5,-0.5,...,172113,-1454,174081,-404,98.1,-0.8,169769,-2344,173068,-1013
9,서울특별시,중랑구,99.2,-0.2,203325,-1575,204901,-1204,98.8,-0.4,...,196959,-3460,200056,-2734,97.8,-0.7,195165,-1794,199537,-519
10,서울특별시,성북구,95.2,-0.3,216556,-3395,227499,-2905,94.6,-0.6,...,214437,2533,228213,4249,93.1,-0.9,210810,-3627,226343,-1870
11,서울특별시,강북구,96,-0.7,158918,-1943,165561,-773,95.7,-0.3,...,153235,-2836,160719,-2374,95.1,-0.2,150143,-3092,157912,-2807
12,서울특별시,도봉구,96.2,-0.6,168759,-2479,175407,-1575,95.9,-0.3,...,163051,-3109,170311,-2942,95.2,-0.5,158620,-4431,166637,-3674
13,서울특별시,노원구,94.6,-0.3,269508,-6825,284895,-6353,94.3,-0.3,...,257923,-5996,274982,-4851,93.2,-0.6,252383,-5540,270654,-4328
14,서울특별시,은평구,94.4,-0.4,236353,-2830,250441,-1852,93.7,-0.7,...,231528,-2174,248504,-991,92.3,-0.9,230279,-1249,249556,1052
15,서울특별시,서대문구,93.5,-0.8,151144,-1366,161656,-28,93,-0.5,...,148663,-906,160734,-10,91.7,-0.8,149360,697,162813,2079
16,서울특별시,마포구,91.3,-0.8,178939,-3223,195976,-1754,90.6,-0.7,...,176891,-1349,197144,307,89,-0.7,175150,-1741,196740,-404
17,서울특별시,양천구,97.4,-0.5,232518,-3772,238636,-2813,97.1,-0.3,...,225186,-3448,232979,-2572,96.3,-0.4,222824,-2362,231427,-1552
18,서울특별시,강서구,94.9,-0.3,292989,2511,308702,3695,94.5,-0.4,...,286563,-3516,305233,-1637,93.3,-0.6,280034,-6529,300151,-5082
19,서울특별시,구로구,98.7,-0.2,204003,-3664,206739,-3145,98.2,-0.5,...,200987,570,205677,1597,97.5,-0.2,199673,-1314,204735,-942
20,서울특별시,금천구,103.3,-0.5,119497,-388,115657,156,103.4,0.1,...,118209,-706,114601,-401,102.4,-0.7,117226,-983,114507,-94
21,서울특별시,영등포구,99.7,-0.2,183975,-1225,184575,-838,99.3,-0.4,...,182438,-786,185240,686,97.8,-0.7,187647,5209,191833,6593
22,서울특별시,동작구,95.2,-0.7,193255,-3012,202962,-1768,94.5,-0.7,...,191976,-557,203987,317,93.6,-0.5,189152,-2824,202068,-1919
23,서울특별시,관악구,101.6,-0.6,253661,-2482,249636,-1072,100.9,-0.7,...,251009,-1151,249085,-712,100.7,-0.1,248339,-2670,246721,-2364
24,서울특별시,서초구,91.9,-0.4,211236,-3437,229866,-2653,91.9,0,...,206039,-1829,224787,-1296,91.7,0,203359,-2680,221767,-3020
25,서울특별시,강남구,92,0.1,266442,-5162,289722,-5789,91.8,-0.2,...,260806,1195,284363,1610,91.7,0,257999,-2807,281232,-3131
26,서울특별시,송파구,94.7,-0.3,323147,2590,341349,4075,94.3,-0.4,...,327164,3638,348797,5688,93.2,-0.6,322299,-4865,345661,-3136
27,서울특별시,강동구,98.8,-0.3,216777,-4341,219446,-3604,98.2,-0.6,...,215335,3519,220732,4975,96.8,-0.8,226216,10881,233754,13022

In [22]:
df4=pd.read_csv('남녀성비_시도_시_군_구.csv',encoding='utf-8')

In [23]:
df4

,행정구역별(1),행정구역별(2),2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2
0,행정구역별(1),행정구역별(2),남녀성비<br>(A÷B×100),남자인구수<br>(A),여자인구수<br>(B),남녀성비<br>(A÷B×100),남자인구수<br>(A),여자인구수<br>(B),남녀성비<br>(A÷B×100),남자인구수<br>(A),여자인구수<br>(B)
1,서울특별시,소계,96.1,"4,830,206","5,027,220",95.6,"4,773,899","4,991,724",95.2,"4,744,059","4,985,048"
2,NaN,종로구,96.4,"75,967","78,803",95.6,"74,825","78,240",95.1,"73,746","77,544"
3,NaN,중구,98.1,"62,253","63,456",97.1,"61,947","63,778",96.3,"61,910","64,261"
4,NaN,용산구,93.7,"110,878","118,283",93.5,"110,640","118,359",93.3,"110,356","118,314"
5,NaN,성동구,97.4,"150,368","154,440",96.5,"151,359","156,862",95.9,"147,273","153,616"
6,NaN,광진구,95.2,"174,414","183,289",94.5,"172,794","182,765",94.0,"170,262","181,088"
7,NaN,동대문구,100.0,"175,324","175,323",99.5,"173,567","174,485",98.9,"172,113","174,081"
8,NaN,중랑구,99.2,"203,325","204,901",98.8,"200,419","202,790",98.5,"196,959","200,056"
9,NaN,성북구,95.2,"216,556","227,499",94.6,"211,904","223,964",94.0,"214,437","228,213"
10,NaN,강북구,96.0,"158,918","165,561",95.7,"156,071","163,093",95.3,"153,235","160,719"
11,NaN,도봉구,96.2,"168,759","175,407",95.9,"166,160","173,253",95.7,"163,051","170,311"
12,NaN,노원구,94.6,"269,508","284,895",94.3,"263,919","279,833",93.8,"257,923","274,982"
13,NaN,은평구,94.4,"236,353","250,441",93.7,"233,702","249,495",93.2,"231,528","248,504"
14,NaN,서대문구,93.5,"151,144","161,656",93.0,"149,569","160,744",92.5,"148,663","160,734"
15,NaN,마포구,91.3,"178,939","195,976",90.6,"178,240","196,837",89.7,"176,891","197,144"
16,NaN,양천구,97.4,"232,518","238,636",97.1,"228,634","235,551",96.7,"225,186","232,979"
17,NaN,강서구,94.9,"292,989","308,702",94.5,"290,079","306,870",93.9,"286,563","305,233"
18,NaN,구로구,98.7,"204,003","206,739",98.2,"200,417","204,080",97.7,"200,987","205,677"
19,NaN,금천구,103.3,"119,497","115,657",103.4,"118,915","115,002",103.1,"118,209","114,601"
20,NaN,영등포구,99.7,"183,975","184,575",99.3,"183,224","184,554",98.5,"182,438","185,240"
21,NaN,동작구,95.2,"193,255","202,962",94.5,"192,533","203,670",94.1,"191,976","203,987"
22,NaN,관악구,101.6,"253,661","249,636",100.9,"252,160","249,797",100.8,"251,009","249,085"
23,NaN,서초구,91.9,"211,236","229,866",91.9,"207,868","226,083",91.7,"206,039","224,787"
24,NaN,강남구,92.0,"266,442","289,722",91.8,"259,611","282,753",91.7,"260,806","284,363"
25,NaN,송파구,94.7,"323,147","341,349",94.3,"323,526","343,109",93.8,"327,164","348,797"
26,NaN,강동구,98.8,"216,777","219,446",98.2,"211,816","215,757",97.6,"215,335","220,732"

In [24]:
# DataFrame.transpose 과 DataFrame.set_index 을 사용하여 1행값을 열의 이름으로 변경하기

In [25]:
df4=df4.T.set_index(0).T.reset_index(drop=True).rename_axis(columns=None)

In [26]:
df4

,행정구역별(1),행정구역별(2),남녀성비<br>(A÷B×100),남자인구수<br>(A),여자인구수<br>(B),남녀성비<br>(A÷B×100),남자인구수<br>(A),여자인구수<br>(B),남녀성비<br>(A÷B×100),남자인구수<br>(A),여자인구수<br>(B)
0,서울특별시,소계,96.1,"4,830,206","5,027,220",95.6,"4,773,899","4,991,724",95.2,"4,744,059","4,985,048"
1,NaN,종로구,96.4,"75,967","78,803",95.6,"74,825","78,240",95.1,"73,746","77,544"
2,NaN,중구,98.1,"62,253","63,456",97.1,"61,947","63,778",96.3,"61,910","64,261"
3,NaN,용산구,93.7,"110,878","118,283",93.5,"110,640","118,359",93.3,"110,356","118,314"
4,NaN,성동구,97.4,"150,368","154,440",96.5,"151,359","156,862",95.9,"147,273","153,616"
5,NaN,광진구,95.2,"174,414","183,289",94.5,"172,794","182,765",94.0,"170,262","181,088"
6,NaN,동대문구,100.0,"175,324","175,323",99.5,"173,567","174,485",98.9,"172,113","174,081"
7,NaN,중랑구,99.2,"203,325","204,901",98.8,"200,419","202,790",98.5,"196,959","200,056"
8,NaN,성북구,95.2,"216,556","227,499",94.6,"211,904","223,964",94.0,"214,437","228,213"
9,NaN,강북구,96.0,"158,918","165,561",95.7,"156,071","163,093",95.3,"153,235","160,719"
10,NaN,도봉구,96.2,"168,759","175,407",95.9,"166,160","173,253",95.7,"163,051","170,311"
11,NaN,노원구,94.6,"269,508","284,895",94.3,"263,919","279,833",93.8,"257,923","274,982"
12,NaN,은평구,94.4,"236,353","250,441",93.7,"233,702","249,495",93.2,"231,528","248,504"
13,NaN,서대문구,93.5,"151,144","161,656",93.0,"149,569","160,744",92.5,"148,663","160,734"
14,NaN,마포구,91.3,"178,939","195,976",90.6,"178,240","196,837",89.7,"176,891","197,144"
15,NaN,양천구,97.4,"232,518","238,636",97.1,"228,634","235,551",96.7,"225,186","232,979"
16,NaN,강서구,94.9,"292,989","308,702",94.5,"290,079","306,870",93.9,"286,563","305,233"
17,NaN,구로구,98.7,"204,003","206,739",98.2,"200,417","204,080",97.7,"200,987","205,677"
18,NaN,금천구,103.3,"119,497","115,657",103.4,"118,915","115,002",103.1,"118,209","114,601"
19,NaN,영등포구,99.7,"183,975","184,575",99.3,"183,224","184,554",98.5,"182,438","185,240"
20,NaN,동작구,95.2,"193,255","202,962",94.5,"192,533","203,670",94.1,"191,976","203,987"
21,NaN,관악구,101.6,"253,661","249,636",100.9,"252,160","249,797",100.8,"251,009","249,085"
22,NaN,서초구,91.9,"211,236","229,866",91.9,"207,868","226,083",91.7,"206,039","224,787"
23,NaN,강남구,92.0,"266,442","289,722",91.8,"259,611","282,753",91.7,"260,806","284,363"
24,NaN,송파구,94.7,"323,147","341,349",94.3,"323,526","343,109",93.8,"327,164","348,797"
25,NaN,강동구,98.8,"216,777","219,446",98.2,"211,816","215,757",97.6,"215,335","220,732"

In [27]:
df4=df4.drop(columns=['행정구역별(1)'], axis=1)

In [28]:
# df4.set_index(["행정구역별(2)"],inplace=False)

# 이거치고 나중에 멀티 인덱스 코드를 모르겟음..ㅡㅡ
#reset이 안됨

In [29]:
df4.columns=["지역구","2017_남녀성비","2017_남자인구수","2017_여자인구수","2018_남녀성비","2018_남자인구수","2018_여자인구수","2019_남녀성비","2019_남자인구수","2019_여자인구수"]

In [30]:
df4

,지역구,2017_남녀성비,2017_남자인구수,2017_여자인구수,2018_남녀성비,2018_남자인구수,2018_여자인구수,2019_남녀성비,2019_남자인구수,2019_여자인구수
0,소계,96.1,"4,830,206","5,027,220",95.6,"4,773,899","4,991,724",95.2,"4,744,059","4,985,048"
1,종로구,96.4,"75,967","78,803",95.6,"74,825","78,240",95.1,"73,746","77,544"
2,중구,98.1,"62,253","63,456",97.1,"61,947","63,778",96.3,"61,910","64,261"
3,용산구,93.7,"110,878","118,283",93.5,"110,640","118,359",93.3,"110,356","118,314"
4,성동구,97.4,"150,368","154,440",96.5,"151,359","156,862",95.9,"147,273","153,616"
5,광진구,95.2,"174,414","183,289",94.5,"172,794","182,765",94.0,"170,262","181,088"
6,동대문구,100.0,"175,324","175,323",99.5,"173,567","174,485",98.9,"172,113","174,081"
7,중랑구,99.2,"203,325","204,901",98.8,"200,419","202,790",98.5,"196,959","200,056"
8,성북구,95.2,"216,556","227,499",94.6,"211,904","223,964",94.0,"214,437","228,213"
9,강북구,96.0,"158,918","165,561",95.7,"156,071","163,093",95.3,"153,235","160,719"
10,도봉구,96.2,"168,759","175,407",95.9,"166,160","173,253",95.7,"163,051","170,311"
11,노원구,94.6,"269,508","284,895",94.3,"263,919","279,833",93.8,"257,923","274,982"
12,은평구,94.4,"236,353","250,441",93.7,"233,702","249,495",93.2,"231,528","248,504"
13,서대문구,93.5,"151,144","161,656",93.0,"149,569","160,744",92.5,"148,663","160,734"
14,마포구,91.3,"178,939","195,976",90.6,"178,240","196,837",89.7,"176,891","197,144"
15,양천구,97.4,"232,518","238,636",97.1,"228,634","235,551",96.7,"225,186","232,979"
16,강서구,94.9,"292,989","308,702",94.5,"290,079","306,870",93.9,"286,563","305,233"
17,구로구,98.7,"204,003","206,739",98.2,"200,417","204,080",97.7,"200,987","205,677"
18,금천구,103.3,"119,497","115,657",103.4,"118,915","115,002",103.1,"118,209","114,601"
19,영등포구,99.7,"183,975","184,575",99.3,"183,224","184,554",98.5,"182,438","185,240"
20,동작구,95.2,"193,255","202,962",94.5,"192,533","203,670",94.1,"191,976","203,987"
21,관악구,101.6,"253,661","249,636",100.9,"252,160","249,797",100.8,"251,009","249,085"
22,서초구,91.9,"211,236","229,866",91.9,"207,868","226,083",91.7,"206,039","224,787"
23,강남구,92.0,"266,442","289,722",91.8,"259,611","282,753",91.7,"260,806","284,363"
24,송파구,94.7,"323,147","341,349",94.3,"323,526","343,109",93.8,"327,164","348,797"
25,강동구,98.8,"216,777","219,446",98.2,"211,816","215,757",97.6,"215,335","220,732"

In [31]:
df_2017= df4.iloc[:,0:4]

In [32]:
df_2017

     지역구 2017_남녀성비 2017_남자인구수 2017_여자인구수
0     소계      96.1  4,830,206  5,027,220
1    종로구      96.4     75,967     78,803
2     중구      98.1     62,253     63,456
3    용산구      93.7    110,878    118,283
4    성동구      97.4    150,368    154,440
5    광진구      95.2    174,414    183,289
6   동대문구     100.0    175,324    175,323
7    중랑구      99.2    203,325    204,901
8    성북구      95.2    216,556    227,499
9    강북구      96.0    158,918    165,561
10   도봉구      96.2    168,759    175,407
11   노원구      94.6    269,508    284,895
12   은평구      94.4    236,353    250,441
13  서대문구      93.5    151,144    161,656
14   마포구      91.3    178,939    195,976
15   양천구      97.4    232,518    238,636
16   강서구      94.9    292,989    308,702
17   구로구      98.7    204,003    206,739
18   금천구     103.3    119,497    115,657
19  영등포구      99.7    183,975    184,575
20   동작구      95.2    193,255    202,962
21   관악구     101.6    253,661    249,636
22   서초구      91.9    211,236    229,866
23   강남구      92.0    266,442    289,722
24   송파구      94.7    323,147    341,349
25   강동구      98.8    216,777    219,446

In [33]:
df_2017=df_2017.astype({"2017_남녀성비":np.float})

<ipython-input-33-1f1ce8410c23>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df_2017=df_2017.astype({"2017_남녀성비":np.float})

In [34]:
df_2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   지역구         26 non-null     object
 1   2017_남녀성비   26 non-null     float64
 2   2017_남자인구수  26 non-null     object
 3   2017_여자인구수  26 non-null     object
dtypes: float64(1), object(3)
memory usage: 960.0+ bytes

In [35]:
df_2017

     지역구  2017_남녀성비 2017_남자인구수 2017_여자인구수
0     소계       96.1  4,830,206  5,027,220
1    종로구       96.4     75,967     78,803
2     중구       98.1     62,253     63,456
3    용산구       93.7    110,878    118,283
4    성동구       97.4    150,368    154,440
5    광진구       95.2    174,414    183,289
6   동대문구      100.0    175,324    175,323
7    중랑구       99.2    203,325    204,901
8    성북구       95.2    216,556    227,499
9    강북구       96.0    158,918    165,561
10   도봉구       96.2    168,759    175,407
11   노원구       94.6    269,508    284,895
12   은평구       94.4    236,353    250,441
13  서대문구       93.5    151,144    161,656
14   마포구       91.3    178,939    195,976
15   양천구       97.4    232,518    238,636
16   강서구       94.9    292,989    308,702
17   구로구       98.7    204,003    206,739
18   금천구      103.3    119,497    115,657
19  영등포구       99.7    183,975    184,575
20   동작구       95.2    193,255    202,962
21   관악구      101.6    253,661    249,636
22   서초구       91.9    211,236    229,866
23   강남구       92.0    266,442    289,722
24   송파구       94.7    323,147    341,349
25   강동구       98.8    216,777    219,446

In [36]:
def func(x) :
    if x >=0  :
        return 2017
    else :
        return "none"
df_2017["년도"] = df_2017["2017_남녀성비"].apply(lambda x : func(x))

In [37]:
df_2017.columns=["지역구","남녀성비","남자인구수","여자인구수","년도"]

In [38]:
df_2017

     지역구   남녀성비      남자인구수      여자인구수    년도
0     소계   96.1  4,830,206  5,027,220  2017
1    종로구   96.4     75,967     78,803  2017
2     중구   98.1     62,253     63,456  2017
3    용산구   93.7    110,878    118,283  2017
4    성동구   97.4    150,368    154,440  2017
5    광진구   95.2    174,414    183,289  2017
6   동대문구  100.0    175,324    175,323  2017
7    중랑구   99.2    203,325    204,901  2017
8    성북구   95.2    216,556    227,499  2017
9    강북구   96.0    158,918    165,561  2017
10   도봉구   96.2    168,759    175,407  2017
11   노원구   94.6    269,508    284,895  2017
12   은평구   94.4    236,353    250,441  2017
13  서대문구   93.5    151,144    161,656  2017
14   마포구   91.3    178,939    195,976  2017
15   양천구   97.4    232,518    238,636  2017
16   강서구   94.9    292,989    308,702  2017
17   구로구   98.7    204,003    206,739  2017
18   금천구  103.3    119,497    115,657  2017
19  영등포구   99.7    183,975    184,575  2017
20   동작구   95.2    193,255    202,962  2017
21   관악구  101.6    253,661    249,636  2017
22   서초구   91.9    211,236    229,866  2017
23   강남구   92.0    266,442    289,722  2017
24   송파구   94.7    323,147    341,349  2017
25   강동구   98.8    216,777    219,446  2017

In [39]:
#2018

In [40]:
df4

,지역구,2017_남녀성비,2017_남자인구수,2017_여자인구수,2018_남녀성비,2018_남자인구수,2018_여자인구수,2019_남녀성비,2019_남자인구수,2019_여자인구수
0,소계,96.1,"4,830,206","5,027,220",95.6,"4,773,899","4,991,724",95.2,"4,744,059","4,985,048"
1,종로구,96.4,"75,967","78,803",95.6,"74,825","78,240",95.1,"73,746","77,544"
2,중구,98.1,"62,253","63,456",97.1,"61,947","63,778",96.3,"61,910","64,261"
3,용산구,93.7,"110,878","118,283",93.5,"110,640","118,359",93.3,"110,356","118,314"
4,성동구,97.4,"150,368","154,440",96.5,"151,359","156,862",95.9,"147,273","153,616"
5,광진구,95.2,"174,414","183,289",94.5,"172,794","182,765",94.0,"170,262","181,088"
6,동대문구,100.0,"175,324","175,323",99.5,"173,567","174,485",98.9,"172,113","174,081"
7,중랑구,99.2,"203,325","204,901",98.8,"200,419","202,790",98.5,"196,959","200,056"
8,성북구,95.2,"216,556","227,499",94.6,"211,904","223,964",94.0,"214,437","228,213"
9,강북구,96.0,"158,918","165,561",95.7,"156,071","163,093",95.3,"153,235","160,719"
10,도봉구,96.2,"168,759","175,407",95.9,"166,160","173,253",95.7,"163,051","170,311"
11,노원구,94.6,"269,508","284,895",94.3,"263,919","279,833",93.8,"257,923","274,982"
12,은평구,94.4,"236,353","250,441",93.7,"233,702","249,495",93.2,"231,528","248,504"
13,서대문구,93.5,"151,144","161,656",93.0,"149,569","160,744",92.5,"148,663","160,734"
14,마포구,91.3,"178,939","195,976",90.6,"178,240","196,837",89.7,"176,891","197,144"
15,양천구,97.4,"232,518","238,636",97.1,"228,634","235,551",96.7,"225,186","232,979"
16,강서구,94.9,"292,989","308,702",94.5,"290,079","306,870",93.9,"286,563","305,233"
17,구로구,98.7,"204,003","206,739",98.2,"200,417","204,080",97.7,"200,987","205,677"
18,금천구,103.3,"119,497","115,657",103.4,"118,915","115,002",103.1,"118,209","114,601"
19,영등포구,99.7,"183,975","184,575",99.3,"183,224","184,554",98.5,"182,438","185,240"
20,동작구,95.2,"193,255","202,962",94.5,"192,533","203,670",94.1,"191,976","203,987"
21,관악구,101.6,"253,661","249,636",100.9,"252,160","249,797",100.8,"251,009","249,085"
22,서초구,91.9,"211,236","229,866",91.9,"207,868","226,083",91.7,"206,039","224,787"
23,강남구,92.0,"266,442","289,722",91.8,"259,611","282,753",91.7,"260,806","284,363"
24,송파구,94.7,"323,147","341,349",94.3,"323,526","343,109",93.8,"327,164","348,797"
25,강동구,98.8,"216,777","219,446",98.2,"211,816","215,757",97.6,"215,335","220,732"

In [41]:
df_2018= df4[['지역구','2018_남녀성비','2018_남자인구수','2018_여자인구수']]

In [42]:
df_2018

     지역구 2018_남녀성비 2018_남자인구수 2018_여자인구수
0     소계      95.6  4,773,899  4,991,724
1    종로구      95.6     74,825     78,240
2     중구      97.1     61,947     63,778
3    용산구      93.5    110,640    118,359
4    성동구      96.5    151,359    156,862
5    광진구      94.5    172,794    182,765
6   동대문구      99.5    173,567    174,485
7    중랑구      98.8    200,419    202,790
8    성북구      94.6    211,904    223,964
9    강북구      95.7    156,071    163,093
10   도봉구      95.9    166,160    173,253
11   노원구      94.3    263,919    279,833
12   은평구      93.7    233,702    249,495
13  서대문구      93.0    149,569    160,744
14   마포구      90.6    178,240    196,837
15   양천구      97.1    228,634    235,551
16   강서구      94.5    290,079    306,870
17   구로구      98.2    200,417    204,080
18   금천구     103.4    118,915    115,002
19  영등포구      99.3    183,224    184,554
20   동작구      94.5    192,533    203,670
21   관악구     100.9    252,160    249,797
22   서초구      91.9    207,868    226,083
23   강남구      91.8    259,611    282,753
24   송파구      94.3    323,526    343,109
25   강동구      98.2    211,816    215,757

In [43]:
df_2018=df_2018.astype({"2018_남녀성비":np.float})

<ipython-input-43-b55e24783f0d>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df_2018=df_2018.astype({"2018_남녀성비":np.float})

In [44]:
def func(x) :
    if x >=0  :
        return 2018
    else :
        return "none"
df_2018["년도"] = df_2018["2018_남녀성비"].apply(lambda x : func(x))

In [45]:
df_2018.columns=["지역구","남녀성비","남자인구수","여자인구수","년도"]

In [46]:
df_2018

     지역구   남녀성비      남자인구수      여자인구수    년도
0     소계   95.6  4,773,899  4,991,724  2018
1    종로구   95.6     74,825     78,240  2018
2     중구   97.1     61,947     63,778  2018
3    용산구   93.5    110,640    118,359  2018
4    성동구   96.5    151,359    156,862  2018
5    광진구   94.5    172,794    182,765  2018
6   동대문구   99.5    173,567    174,485  2018
7    중랑구   98.8    200,419    202,790  2018
8    성북구   94.6    211,904    223,964  2018
9    강북구   95.7    156,071    163,093  2018
10   도봉구   95.9    166,160    173,253  2018
11   노원구   94.3    263,919    279,833  2018
12   은평구   93.7    233,702    249,495  2018
13  서대문구   93.0    149,569    160,744  2018
14   마포구   90.6    178,240    196,837  2018
15   양천구   97.1    228,634    235,551  2018
16   강서구   94.5    290,079    306,870  2018
17   구로구   98.2    200,417    204,080  2018
18   금천구  103.4    118,915    115,002  2018
19  영등포구   99.3    183,224    184,554  2018
20   동작구   94.5    192,533    203,670  2018
21   관악구  100.9    252,160    249,797  2018
22   서초구   91.9    207,868    226,083  2018
23   강남구   91.8    259,611    282,753  2018
24   송파구   94.3    323,526    343,109  2018
25   강동구   98.2    211,816    215,757  2018

In [47]:
#2019

In [48]:
df4

,지역구,2017_남녀성비,2017_남자인구수,2017_여자인구수,2018_남녀성비,2018_남자인구수,2018_여자인구수,2019_남녀성비,2019_남자인구수,2019_여자인구수
0,소계,96.1,"4,830,206","5,027,220",95.6,"4,773,899","4,991,724",95.2,"4,744,059","4,985,048"
1,종로구,96.4,"75,967","78,803",95.6,"74,825","78,240",95.1,"73,746","77,544"
2,중구,98.1,"62,253","63,456",97.1,"61,947","63,778",96.3,"61,910","64,261"
3,용산구,93.7,"110,878","118,283",93.5,"110,640","118,359",93.3,"110,356","118,314"
4,성동구,97.4,"150,368","154,440",96.5,"151,359","156,862",95.9,"147,273","153,616"
5,광진구,95.2,"174,414","183,289",94.5,"172,794","182,765",94.0,"170,262","181,088"
6,동대문구,100.0,"175,324","175,323",99.5,"173,567","174,485",98.9,"172,113","174,081"
7,중랑구,99.2,"203,325","204,901",98.8,"200,419","202,790",98.5,"196,959","200,056"
8,성북구,95.2,"216,556","227,499",94.6,"211,904","223,964",94.0,"214,437","228,213"
9,강북구,96.0,"158,918","165,561",95.7,"156,071","163,093",95.3,"153,235","160,719"
10,도봉구,96.2,"168,759","175,407",95.9,"166,160","173,253",95.7,"163,051","170,311"
11,노원구,94.6,"269,508","284,895",94.3,"263,919","279,833",93.8,"257,923","274,982"
12,은평구,94.4,"236,353","250,441",93.7,"233,702","249,495",93.2,"231,528","248,504"
13,서대문구,93.5,"151,144","161,656",93.0,"149,569","160,744",92.5,"148,663","160,734"
14,마포구,91.3,"178,939","195,976",90.6,"178,240","196,837",89.7,"176,891","197,144"
15,양천구,97.4,"232,518","238,636",97.1,"228,634","235,551",96.7,"225,186","232,979"
16,강서구,94.9,"292,989","308,702",94.5,"290,079","306,870",93.9,"286,563","305,233"
17,구로구,98.7,"204,003","206,739",98.2,"200,417","204,080",97.7,"200,987","205,677"
18,금천구,103.3,"119,497","115,657",103.4,"118,915","115,002",103.1,"118,209","114,601"
19,영등포구,99.7,"183,975","184,575",99.3,"183,224","184,554",98.5,"182,438","185,240"
20,동작구,95.2,"193,255","202,962",94.5,"192,533","203,670",94.1,"191,976","203,987"
21,관악구,101.6,"253,661","249,636",100.9,"252,160","249,797",100.8,"251,009","249,085"
22,서초구,91.9,"211,236","229,866",91.9,"207,868","226,083",91.7,"206,039","224,787"
23,강남구,92.0,"266,442","289,722",91.8,"259,611","282,753",91.7,"260,806","284,363"
24,송파구,94.7,"323,147","341,349",94.3,"323,526","343,109",93.8,"327,164","348,797"
25,강동구,98.8,"216,777","219,446",98.2,"211,816","215,757",97.6,"215,335","220,732"

In [49]:
df_2019= df4[['지역구','2019_남녀성비','2019_남자인구수','2019_여자인구수']]

In [50]:
df_2019

     지역구 2019_남녀성비 2019_남자인구수 2019_여자인구수
0     소계      95.2  4,744,059  4,985,048
1    종로구      95.1     73,746     77,544
2     중구      96.3     61,910     64,261
3    용산구      93.3    110,356    118,314
4    성동구      95.9    147,273    153,616
5    광진구      94.0    170,262    181,088
6   동대문구      98.9    172,113    174,081
7    중랑구      98.5    196,959    200,056
8    성북구      94.0    214,437    228,213
9    강북구      95.3    153,235    160,719
10   도봉구      95.7    163,051    170,311
11   노원구      93.8    257,923    274,982
12   은평구      93.2    231,528    248,504
13  서대문구      92.5    148,663    160,734
14   마포구      89.7    176,891    197,144
15   양천구      96.7    225,186    232,979
16   강서구      93.9    286,563    305,233
17   구로구      97.7    200,987    205,677
18   금천구     103.1    118,209    114,601
19  영등포구      98.5    182,438    185,240
20   동작구      94.1    191,976    203,987
21   관악구     100.8    251,009    249,085
22   서초구      91.7    206,039    224,787
23   강남구      91.7    260,806    284,363
24   송파구      93.8    327,164    348,797
25   강동구      97.6    215,335    220,732

In [51]:
df_2019=df_2019.astype({"2019_남녀성비":np.float})

<ipython-input-51-c74f0182b3d7>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df_2019=df_2019.astype({"2019_남녀성비":np.float})

In [52]:
def func(x) :
    if x >=0  :
        return 2019
    else :
        return "none"
df_2019["년도"] = df_2019["2019_남녀성비"].apply(lambda x : func(x))

In [53]:
df_2019.columns=["지역구","남녀성비","남자인구수","여자인구수","년도"]

In [54]:
df_2019

     지역구   남녀성비      남자인구수      여자인구수    년도
0     소계   95.2  4,744,059  4,985,048  2019
1    종로구   95.1     73,746     77,544  2019
2     중구   96.3     61,910     64,261  2019
3    용산구   93.3    110,356    118,314  2019
4    성동구   95.9    147,273    153,616  2019
5    광진구   94.0    170,262    181,088  2019
6   동대문구   98.9    172,113    174,081  2019
7    중랑구   98.5    196,959    200,056  2019
8    성북구   94.0    214,437    228,213  2019
9    강북구   95.3    153,235    160,719  2019
10   도봉구   95.7    163,051    170,311  2019
11   노원구   93.8    257,923    274,982  2019
12   은평구   93.2    231,528    248,504  2019
13  서대문구   92.5    148,663    160,734  2019
14   마포구   89.7    176,891    197,144  2019
15   양천구   96.7    225,186    232,979  2019
16   강서구   93.9    286,563    305,233  2019
17   구로구   97.7    200,987    205,677  2019
18   금천구  103.1    118,209    114,601  2019
19  영등포구   98.5    182,438    185,240  2019
20   동작구   94.1    191,976    203,987  2019
21   관악구  100.8    251,009    249,085  2019
22   서초구   91.7    206,039    224,787  2019
23   강남구   91.7    260,806    284,363  2019
24   송파구   93.8    327,164    348,797  2019
25   강동구   97.6    215,335    220,732  2019

In [60]:
df_year= pd.concat([df_2017,df_2018,df_2019])

In [62]:
df_year

    지역구   남녀성비      남자인구수      여자인구수    년도
0    소계   96.1  4,830,206  5,027,220  2017
1   종로구   96.4     75,967     78,803  2017
2    중구   98.1     62,253     63,456  2017
3   용산구   93.7    110,878    118,283  2017
4   성동구   97.4    150,368    154,440  2017
..  ...    ...        ...        ...   ...
21  관악구  100.8    251,009    249,085  2019
22  서초구   91.7    206,039    224,787  2019
23  강남구   91.7    260,806    284,363  2019
24  송파구   93.8    327,164    348,797  2019
25  강동구   97.6    215,335    220,732  2019

[78 rows x 5 columns]

In [68]:
df_year.to_csv('df_year.csv')

In [65]:
df_final=df_year.set_index(["년도","지역구"],inplace=False)

In [66]:
df_final

           남녀성비      남자인구수      여자인구수
년도   지역구
2017 소계    96.1  4,830,206  5,027,220
     종로구   96.4     75,967     78,803
     중구    98.1     62,253     63,456
     용산구   93.7    110,878    118,283
     성동구   97.4    150,368    154,440
...         ...        ...        ...
2019 관악구  100.8    251,009    249,085
     서초구   91.7    206,039    224,787
     강남구   91.7    260,806    284,363
     송파구   93.8    327,164    348,797
     강동구   97.6    215,335    220,732

[78 rows x 3 columns]

In [67]:
df_final.to_csv('df_final.csv')